<%- include("partials/header") -%>

<div class="add-update-container">
  <form class="add-update-form" action="/add-movie" method="POST">
    <input type="text" id="add" name="addName" placeholder="add name" />
    <br />
    <input type="text" name="addDirector" placeholder="add director" /><br />
    <input type="text" name="addStars" placeholder="add stars" /><br />
    <textarea
      name="addAbout"
      cols="80"
      rows="15"
      placeholder="add about"
    ></textarea
    ><br />
    <button class="movie-button" type="submit">Add this movie</button>
  </form>
</div>

<%- include("partials/footer") -%>
